@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    color: white;
}

body {
    font-family: 'Poppins', 'serif';
    background-color: #1e2027;
}

.header {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.logo {
    margin: 0 20px 20px 20px;
    color: #82b4ff;
    font-size: 20px;
    font-weight: 500;
}

.menu {
    width: auto;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li {
    font-size: 15px;
}

.main {
    background-image: url('images.jpg');
    background-size: cover;
    height: 600px;
}









@media screen and (max-width: 720px) {
    .menu {
        
    }
}